<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WebPresentir</title>
    <script type="text/javascript" src="/js/phoenix.js"></script>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/presentir.css">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Home</a></li>
        </ul>
      </div>

      <%= @inner %>

      <div class="footer">
        <p>WebPresentir powered by 
          <a href="http://phoenixframework.org">phoenixframework.org</a> and
          <a href="http://elixir-lang.org/">elixir-lang.org</a>
        </p>
      </div>

    </div> <!-- /container -->
  </body>
</html>
